<div class="container-fluid py-3">
  <h1 class="h5 mb-3">CSV импорт</h1>

  <div id="csv_flash">
    <%= render "shared/flash" %>
  </div>

  <%= form_with url: csv_index_path, multipart: true, data: { turbo_stream: true }, class: "row gy-2 gx-2 align-items-end" do %>
    <div class="col-auto">
      <label class="form-label mb-1">CSV-файл</label>
      <%= file_field_tag :file, accept: ".csv", class: "form-control form-control-sm" %>
    </div>
    <div class="col-auto">
      <%= submit_tag "Загрузить", class: "btn btn-primary btn-sm mt-3" %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= render "csv/table_frame", pagy: @pagy, passes: @passes %>
  </div>
</div>